<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Me</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <ul class="list-inline quicklinks">
        <center><a href="https://sajivfrancis.wufoo.com/forms/connect-with-sajiv-francis/" class="btn btn-primary" style="width:200px;height:50px;" ><b>CONTACT</b></a></center>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <ul class="list-inline quicklinks">
        <center><a href="tel:14807964355" class="btn btn-info" style="width:200px;height:50px;" ><b>CALL</b></a></center>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6" style="text-align: center">
      <ul class="list-inline quicklinks">
        <center><a href="mailto:connectsfrancis@gmail.com?subject=Contact - Sajiv Francis" class="btn btn-success" style="width:200px;height:50px;" ><b>EMAIL</b></a></center>
      </ul>
    </div>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="sajiv-francis" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/sajiv-francis?trk=profile-badge">Sajiv Francis</a></div>
  </section>
