<!-- Services Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Projects worked on with source code on github</h3>
                </div>
            </div>
            <div class="row text-center">
                <a href = "https://github.com/sajivfrancis/scpt2018"><div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SCPT</h4>
                    <p class="text-muted">Clinical Placement Tool Connecting Students with Hospital's Placement Schedule. It provides a single platform for various end-users to collaborate and communicate, making clinical scheduling easier for students and hospitals.</p>
                </div></a>
                <a href = "https://github.com/sajivfrancis/opteylearningtool"><div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">OLT</h4>
                    <p class="text-muted">Our site contains the best learning content and tools to help you succeed. We have used the python & django framework to build this tool, it currently uses nltk library and others to analyze any uploaded document, it then breaks down the document into useful results.</p>
                </div></a>
                <a href = "https://github.com/sajivfrancis/CTSeniors"><div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CT Seniors</h4>
                    <p class="text-muted">
We are in the process of making Connecticut a more hospitable place for all seniors living in the state. We would like to provide an easy-to-use web interface for Seniors to search, find results, get directions and much more.</p>
                </div></a>
            </div>
        </div>
    </section>
